<div class="container">
<h1> Users</h1>
<a class="btn btn-default btn-lg" href="/" role="button">Volver</a>
<a class="btn btn-default btn-lg" href="/users/new" role="button">New User</a>
<table>
	<tr>
		<th>Name</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
		</tr>
	<% end %>
</table>
</div>