<div class="container">	<br>
	
	<h1> FAQs / Manual para <strike>pelotudos</strike> principiantes

	<br>
	<br>

	<h2>-Hola si, recién entro, no entiendo nada, por qué no usamos un excel etc,etc.</h2>
	<p>Tranquilo, en esta página te explicamos como usar las funciones de FIFAjalla. Si tenés alguna duda no cubierta acá decínosla y la agregamos, o en su defecto de ser boluda nos reimos un rato.</p>

	<br>

	<h2>-Bueno ok, qué tengo que hacer primero?</h2>
	<p>FIFAjalla maneja las sesiones de usuarios autenticandose con Facebook, como muchas otras aplicaciones o sitios. Lo único que tenés que hacer es darle “sign in” arriba a la derecha, aceptar el mensaje en Facebook y listo, olvidate de passwords y usernames. </p>

	<br>

	<h2>-Uh che pero con esto me hackean la cuenta?</h2>
	<p>No, no tenemos tu password (Facebook no la envía), ni podemos postear que sos puto en tu muro etiquetando a tu tía. Sólo tenemos tu nombre completo y nada más. Ahora podes ir a la página de usuarios y ver que ya estas en la lista. Podes incluso ver tu página de usuario con tus datos haciendo click en la “i” (pro tip: la i es de información).</p>

	<p>Por default, tu nombre de usuario en la página (el que aparece en todas las secciones) es tu primer nombre de Facebook. Si por casualidad te llamas Pelotudo y te gustaría cambiarlo, no necesitas ir al registro civil, hace click en tu usuario arriba a la derecha (primero loggeate, no seas pelotudo) y podes cambiarlo. Estás avisado, si te pones un nombre de mierda como “P1TY, 3l n3gr0 d3 b03d0_kp0” te lo vamos a borrar.</p>
	<p>También te sugerimos agregar tu mail, para que puedas recibir notificaciones por correo (por ejemplo, cuando alguien te sugiera cambiar a tu Messi por el Burrito Martinez).</p>

	<br>

	<h2>-Perfecto, ya tengo mi usuario, cuando juego?</h2>
	<p>Tranquilo, la otra cosa que tenes que hacer la primera vez que entras es registrar un equipo. Anda a My Settings (en la barra de abajo) -> Register Team y llena el formulario. La idea es que elijas un equipo real, que va a ser el que vas a usar en el FIFA. El único efecto es usar la camiseta y el estadio de este equipo, no los jugadores, así que si sos hincha de All Boys elegilo tranquilo. Fijate antes en la lista de equipos que nadie lo haya elegido antes, porque sino por default el sistema te asigna a rasin club.</p>

	<br>

	<h2>-Listo, ya tengo usuario y equipo, cómo elijo mis jugadores?</h2>
	<p>Bien, ahora hay que esperar que empiece el draft. Mientras tanto podés ir navegando por el sitio, viendo las estadísticas de los usuarios, partidos viejos, los equipos, los jugadores y sus skills, etc, etc. </p>

	<br>

	<h2>- Y cuando arranca el draft?	</h2>
	<p>El draft va a empezar una vez que todos hayan creado sus usuarios. La metodología de selección puede variar, pero en principio cuando te toque elegir, lo va a decir arriba a la derecha. En la página de draft podes ver todas las selecciones (o picks) pasadas y futuras de todos. Cuando sea tu turno de elegir un jugador, andá a la lista de jugadores. Podes buscar, filtrar por posición o pedir que te muestre sólo jugadores disponibles. Si es tu turno, tenés habilitado un botón de “Draft” al lado de cada jugador. Clickeá en el jugador que querés y te lo asigna a tu equipo. Ahora le toca al siguiente.</p>

	<p>En principio pensamos hacer un draft inicial con 1 equipo por persona y 15 jugadores por equipo. La forma de hacer el draft está por definirse, puede que se haga on line con todos en vivo o de distintas formas que no vamos a explicar acá porque paja.</p>

	<br>

	<h2>- Che me equivoqué y elegí al boludo de Basanta, que hago?</h2>
	<p>Bueno, FIFAjalla contempla que podes cambiar jugadores con otros usuarios. Andá a la parte de trades y en on the block vas a poder ver todos los jugadores que están en el mercado porque sus dueños quieren cambiarlos. Podés proponer un trade por cualquier jugador, pero estos son en principio los más accesibles. Si querés agregar un jugador tuyo al Trade Block podés hacerlo desde la página del jugador o desde la del equipo en el que juega. En My Players On The Block podés ver todos tus jugadores que por el momento preferirías ver muertos y/o sacarlos de la lista en caso de que hayan metido un gol de rabona y quieras conservarlos. </p>

	<p>Para iniciar un trade andá a Propose New Trade. Ahi podés configurar la propuesta que vas a enviar a los demás. Son posibles los cambios entre varios usuarios (por ejemplo, Messi al Madrid, Ronaldo a Boca y Gigliotti al Barca es una opción entre 3 equipos). Cualquier propuesta se hace efectiva una vez que todos los usuarios involucrados aceptaron. En caso de que alguno rechace la oferta el trade es anulado. Podes ver las propuestas que te hicieron en View Trade Offers. La única condición es que ningún equipo involucrado se quede con menos de 15 jugadores.</p>

	<p>Ah, también podés cambiar trade picks durante el draft. Ejemplo: te cambio mis picks de 4ta y 13ra ronda por tus picks de 6ta y 7ma ronda, o a van Persie por tu pick de 15ta ronda.</p>

	<br>

	<h2>-Cómo cargo un partido?</h2>
	<p>Andá a Register Match y llena el formulario. Por cada gol, asistencia, amarilla o demás acciones hay un botón que registra el evento. Cada uno está asociado a un jugador, así que no te olvides de elegir quién hizo esa acción. A medida que sea necesario, se va actualizando la página (por ejemplo, cuando hay un gol). Cuando todo termina, dale a Save Match y listo, actualiza los datos de los jugadores, los equipos  y los usuarios que jugaron, y guarda al partido en la lista de partidos.</p>

	<br>

	<h2>-Buenisimo, ya salí campeón que pasa ahora?</h2>
	<p>Nuestra idea es que los equipos sean dinámicos. Nuestra propuesta es que uses el sistema de trades lo más posible, pero para evitar que alguien que no quiere hacer cambios se robe toda la diversión, proponemos un sistema de draft después de cada juntada. Te explico: nos juntamos el sábado, hacemos un torneo. Una vez terminado, cada usuario elige 8 jugadores de su plantel que quiere mantener en su equipo. Todos los demás jugadores pueden ser “robados” por los demás usuarios. Se conforma un draft con sólo dos rondas, ordenandolo para que el que salió último en el torneo elija primero. Este puede robarse cualquier jugador de los no protegidos de los demás usuarios. Como máximo se pueden robar dos jugadores a un mismo equipo, y como mínimo cada equipo debe perder un jugador. </p>

	<p>También eventualmente, en caso de que se sume otro usuario o si queremos agregar equipos o sólo queremos llenar el banco, se puede realizar un draft suplementario, en donde se eligen los jugadores que están libres y no fueron elegidos todavía por nadie.</p>

	<br>

	<h2>-Ok, todo muy bueno pero tengo una sugerencia</h2>
	<p>Perfecto, comunicanos tu idea y si gusta la podemos implementar. Tené en cuenta que hasta que salga el FIFA 15 todo esto va a ser una prueba para ver qué funciona y qué no. Vamos a probar todo lo que se nos ocurra para una vez que tengamos la versión definitiva una vez que salga el nuevo FIFA poder tener la mejor competencia posible.</p>

	<br>

	<h2>-Le puedo decir a Jorge, mi amigo el diariero que juega al FIFA como un campeón?</h2>
	<p>En la primera fase de pruebas no. Una vez que tengamos el formato, y en caso de que la mayoría así lo desee, podemos ver si aceptamos gente no-ajalla.</p>

	<br>

	<h2>-Bueno me re gusta la idea pero no sé si voy a poder juntarme todos los fines de semanas porque no soy un enfermo como uds. y simulo tener vida.</h2>
	<p>No hay problema. En principio no hay ningún requerimiento de que estés presente en TODOS los torneos que se hagan. Quizás venis a la mitad, quizás a todos. Para que sea divertido y no haya jugadores “freezados” (no hablo de Riquelme, sino de jugadores que no jueguen nunca porque su usuario no viene) vamos a poner un límite mínimo de asistencia a discutir entre todos (33%? 50%?). </p>

	<p>Más allá de esto, a futuro vamos a poder tener varias bases de datos en simultáneo, por lo que podemos tener una principal con TODOS los usuarios y varias secundarias (por ejemplo, una con los que vienen todos los torneos, otra sólo con jugadores de la liga argentina, una especial sólo para un fin de semana en particular, una sola con arqueros, etc.)</p>

	<br>
	<h2>-Encontré un bug/error, qué hago?</h2>
	<p>Comunicanos el error, dónde te pasó, qué estabas haciendo y toda información que sea pertinente. Podes mandarselo a Santi así lo imprime y con el papel se rasca las bolas, pero si preferís que alguien lo resuelva te sugiero que se lo envíes a Facu o a Fede.</p>

	<br><br>
</div>
