<div class="container">	<br>
	
	<h1> Version History </h1>

	<br>
	<br>

	<h2>Version 1.1.1  -  19/08/2014</h2>
	<ul>
		<li><h3>Stats:</h3>Nuevas Stats para User, Team y Player.</li>
		<li><h3>Reordenamiento de Menues</h3></li>


	</ul>
	<br>

	<h2>Version 1.1  -  17/08/2014</h2>
	<ul>
		<li><h3>My Trades:</h3>Se pueden ver todos los trades propuestos por uno y su respectivo estado.</li>
		<li><h3>Alerta por new trade:</h3>Cuando te hacen una oferta te salta una alerta en la home page para que aceptes o rechaces el trade.</li>
		<li><h3>Progress Bar en Draft.</h3></li>
		<li><h3>Minor bug fixes.</h3></li>

	</ul>

	<br>

</div>
