<div class="container">	<br>

	<h1> Version History </h1>

	<br>
	<br>
	<h2>Version 2.1  -  11/10/2014</h2>
	<ul>
		<li><h3>Historial Mano a Mano:</h3>En Stats -> Mano a Mano vas a poder ver como te fue contra una persona en particular, que jugador te tiene de hijo y te hace goles siempre, y todos los partidos que jugaste.</li>
		<li><h3>Mis Partidos:</h3>Ahora podes ver una lista con todos tus partidos.</li>
		<li><h3>Partidos de Otros:</h3>También podes ver los partidos solo de un usuario en particular entrando a su página de usuario y clickeando en el botón "ver Partidos"(a la derecha)</li>
		<li><h3>Listas Ordenables:</h3>Todas las listas son ordenables por cualquier columna (equipos, usuarios, ligas, estadisticas de jugadores, etc)</li>
	</ul>
	<br>

	<br>
	<h2>Version 2.0  -  23/09/2014</h2>
	<ul>
		<li><h3>FIFA 15:</h3>Se Updatearon los datos a los del FIFA 15</li>
		<li><h3>Estadisticas Completas:</h3>Todos los datos que estan en futhead, están en FIFAjalla.</li>
		<li><h3>Draft por tiempo:</h3>Para agilizar el draft, tenes 40 minutos por pick, para un total de 12 horas. Lo que tardes entre que te toca y elijas se resta del total. Una vez que te quedas sin tiempo, el sistema elige automáticamente al de mayor overall.</li>
		<li><h3>Titulares y suplentes:</h3>Ahora podes elegir quienes de tus jugadores son titulares, para que las stats cuenten para ellos.</li>

	</ul>
	<br>

	<br>
	<h2>Version 1.2.2  -  07/09/2014</h2>
	<ul>
		<li><h3>Draft view:</h3>Ahora hay distintas paginas para cada draft y una lista con cada draft.</li>
		<li><h3>Mover jugadores:</h3></li>Si tenes más de un equipo, ahora podes mover jugadores libremente entre tus equipos
	</ul>
	<br>

	<h2>Version 1.2.1  -  26/08/2014</h2>
	<ul>
		<li><h3>Ranking ELO:</h3>Los usuarios ahora tienen puntaje ELO para medir su ranking.</li>
		<li><h3>Bug Fixing.</h3></li>


	</ul>
	<br>
	<h2>Version 1.2  -  17/08/2014</h2>
	<ul>
		<li><h3>Release Player:</h3>Se puede liberar cualquier jugador del plantel y seleccionar otro que esté libre.</li>
		<li><h3>Protected Players:</h3> Ya se puede proteger hasta 10 jugadores de tu equipo. Tené en cuenta que en un futuro, los jugadores no protegidos <b>podrán ser robados por otros usuarios </b>.</li>
		<li><h3>Mailers:</h3>Cuando te hacen una oferta, te aceptan o rechazan una, o te toca en el draft, el sistema te manda un mail para avisarte.</li>
		<li><h3>Minor bug fixes.</h3></li>

	</ul>

	<br>

	<h2>Version 1.1.1  -  19/08/2014</h2>
	<ul>
		<li><h3>Stats:</h3>Nuevas Stats para User, Team y Player.</li>
		<li><h3>Reordenamiento de Menues</h3></li>


	</ul>
	<br>

	<h2>Version 1.1  -  17/08/2014</h2>
	<ul>
		<li><h3>My Trades:</h3>Se pueden ver todos los trades propuestos por uno y su respectivo estado.</li>
		<li><h3>Alerta por new trade:</h3>Cuando te hacen una oferta te salta una alerta en la home page para que aceptes o rechaces el trade.</li>
		<li><h3>Progress Bar en Draft.</h3></li>
		<li><h3>Minor bug fixes.</h3></li>

	</ul>

	<br>

</div>
