<div class="container">
	<h1>Fifajalla</h1>
	<div class="row">
		<img src="http://i2.esmas.com/2010/05/04/115451/juan-roman-riquelme-300x350.jpg">
	</div>
	<div class="row">
		<p>
			<button type="button" class="btn btn-default btn-lg"> <a href='players/'>Players</a></button>
			<button type="button" class="btn btn-default btn-lg"><a href='users/'>Users</a></button>
			<button type="button" class="btn btn-default btn-lg"><a href='trades/'>Trades</a></button>
			<button type="button" class="btn btn-default btn-lg"><a href='stats/'>Stats</a>	</button>
			<button type="button" class="btn btn-default btn-lg"><a href='draft/'>Draft</a>	</button>	
	</div>
</div>