<div class="container">
	<h1>Fifajalla</h1>
	<br>
	<h2><a href="/welcome/faqs"> Recién entrás? hacé click acá </a></h2>
	
	<br>
	<br>
	<blockquote>
  	<p>Quebro. Gambar.</p>
  	<small>Nahuel Palumbo <cite title="Source Title">Ultimas palabras antes de la desaparicion en vida</cite></small>
	</blockquote>

</div>