<div class="container">
	<h1>Fifajalla</h1>
	
	<img src="http://desmotivaciones.es/demots/201206/Riquelme_Juan_EFE20120517114413.jpg">	
	<br>
	<blockquote>
  	<p>Quebro. Gambar.</p>
  	<small>Ultimas palabras antes de la desaparicion en vida de <cite title="Source Title">Nahuel Palumbo</cite></small>
	</blockquote>

</div>