<div class="container">
	<h1>Fifajalla</h1>
	<div class="row">
		<img src="http://i2.esmas.com/2010/05/04/115451/juan-roman-riquelme-300x350.jpg">
	</div>
	<div class="row">
		<p>
			<a class="btn btn-default btn-lg" href="/players" role="button">Players</a>
			<a class="btn btn-default btn-lg" href="/users" role="button">Users</a>
			<a class="btn btn-default btn-lg" href="/trades" role="button">Trades</a>
			<a class="btn btn-default btn-lg" href="/stats" role="button">Stats</a>
			<a class="btn btn-default btn-lg" href="/draft" role="button">Draft</a>

			

	</div>
</div>