// Place all the styles related to the users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

label{
  width: 12em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

input {
    width: 250px;
    padding: 5px 10px 5px 10px;
}
